<div class="row gx-4 gy-1">
    <div class="col-6 col-md-4">
        <div class="card mb-4">
            <img src="https://www.pt.com.tr/uploads/products/big/12439014551619626169.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Imac</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-4">
            <img src="https://www.pt.com.tr/uploads/products/big/12439014551619626169.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Imac</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-4">
            <img src="https://www.pt.com.tr/uploads/products/big/12439014551619626169.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Imac</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-4">
            <img src="https://www.pt.com.tr/uploads/products/big/12439014551619626169.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Imac</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-4">
            <img src="https://www.pt.com.tr/uploads/products/big/12439014551619626169.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Imac</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card mb-4">
            <img src="https://www.pt.com.tr/uploads/products/big/12439014551619626169.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Imac</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
</div>